  body {
    background-color: #5ca1d7;
    margin: 0 auto;
  }
  .center-text { 
    text-align: center; 
    width: 30%; 
    margin: 0 auto; 
  }
  .leftalign {
    text-align: left;
  }
  .white {
    color: white;
  }
  .hover-text {
    color: white; 
  }
  
  .hover-text:hover {
    color: black; 
  }